.page-title-inner {
    position: relative;
}

.page-title-inner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.breadcrumbs {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    padding-bottom: 30px;
}
.home i {
    margin: 0 5px;
}
.home li  {
    text-decoration: none;
    color :#dec18c;
    list-style: none;
}
.home li a{
    text-decoration: none;
    color :#dec18c;
    list-style: none;
}
.cart li{
    list-style: none;
    text-decoration: none;
}
