body {
    font-family: "Varela Round";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
  }
  .container{
    padding: 0 0 0 60px;
  }
  span {
    color: #AAAAAA;
    margin-right: 40px;
    margin-left: 40px;
    font-size: 13px;
    font-family: "Varela Round";
    font-weight: 100;
    text-transform: none;



  }

  .p-3:hover span {
    color: #dec18c;
    /* Màu chữ khi di chuột vào */
  }

  .khoi {
    width: 100%;
    background-color: #F9F9F9;
    height: 65px;

  }

  span:hover {
    color: #dec18c;
    text-decoration: none;
  }

  .map-container {
    display: none;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
  }

  html {
    scroll-behavior: smooth;
  }

  /* 
  section {
    padding: 60px 0;
  } */

  #section2 {
    display: none;
    /* Đặt hình nền cho Section 2 */
    background-image: url('/public/images/Screenshot\ 2023-12-29\ 135033.png');
    background-size: cover;
    /* Điều chỉnh dựa trên nhu cầu cụ thể của bạn */
    background-repeat: no-repeat;
    /* Ngăn chặn hình nền từ việc lặp lại */
    /* Thêm các thuộc tính nền khác nếu cần */
    height: 700px;
  }


  /* .main {
    display: block;
    transition: opacity 0.5s ease-in-out;
  }

  #section2 {
    display: none;
  } */

  h2 {
    font-size: 25px;
  }

  a {
    text-decoration: none;
    color: #AAAAAA;
  }

  .text-logo {
    color: #AAAAAA;
  }

  ul,
  ol {
    list-style: none;
  }

  /* Tùy chỉnh màu sắc cho liên kết khi hover (nếu cần) */
  a:hover {
    color: #dec18c;
    /* Màu sắc thay đổi khi di chuột vào liên kết */
  }

  .p-color {
    color: #dec18c;
  }

  .footer-contact-us li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  .text-widge .footer-contact-us i {
    margin-right: 5px;
    /* Giảm khoảng cách bên phải của icon */
  }

  .text-widge .footer-contact-us span {
    margin: 0;
    /* Xóa margin mặc định của đoạn văn bản */
  }