
.language-currency {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.language,
.currency {
    margin: 10px;
}

.language li,
.currency li {
    margin-right: 0;
    padding: 0;
    margin: 0;
}


.dropdown-menu li a {
    text-decoration: none;
    color: #878787;
    transition: color 0.2s ease;
}

.dropdown-menu li a:hover {
    color: #dec18c;
}

.dropdown-toggle {
    color: #878787;
    transition: color 0.2s ease;
    text-decoration: none;
}

.dropdown-toggle:hover {
    color: #dec18c;
}


.language .dropdown-menu,
.currency .dropdown-menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    list-style: none;
    padding: 10px;
    width: 30px;
    height: 120px;

}

.language .dropdown-menu li,
.currency .dropdown-menu li {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.language:hover .dropdown-menu,
.currency:hover .dropdown-menu {
    display: block;
}

.language li,
.currency li {
    margin-right: 10px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    font-family: "Varela Round";
    align-items: center;
    white-space: nowrap;
}


.ts-menu {
    display: flex;
    justify-content: space-between;
}

.nav-menu a {
    text-decoration: none;
    transition: color 0.2S ease;
    color: #878787;
}

.text-widget {
    color: #dec18c;
    padding-right: 15px;
}
.my-account,
.wishlist,
.blog,
.login{
    padding-right: 15px;
}
.nav-menu a:hover {
    color: #dec18c;
}

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-header {
    display: flex;
}
.icon-header a {
    color:#dec18c;
}
.logo img{
    max-height: 134px;
    padding-top: 25px;
    padding-bottom:25px ;
}
.header-bottom{
    font-family: "Varela Round";
    display: flex;
}

.header-bottom .bomttom-menu-left > ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-bottom .bomttom-menu-left > ul > li {
    margin-right: 20px;
}

.header-bottom .bomttom-menu-left > ul > li > a {
    text-decoration: none;
    color: #878787;
    transition: color 0.2s ease;
}

.header-bottom .bomttom-menu-left > ul > li > a:hover {
    color: #dec18c;
}

.header-bottom{
    font-family: "Varela Round";
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-bottom a{
    text-decoration: none;
    color: #878787;    
}
.header-bottom  a:hover{
    color: #dec18c;
}
.header-bottom .bomttom-menu-left > ul,
.header-bottom .bomttom-menu-left > ul ul {
    padding: 0;
    margin: 0;
}
.bottom-menu{
    display:flex;
    align-items: center;
}
.bottom-menu-right{
    display: flex;
    align-items: center;
    margin-left:auto;
}
.bomttom-menu-left {
    margin-right: auto;
}

.twitter,
.facebook,
.vimeo,
.pinterest {
    margin-left: auto;
    align-items: center;
    margin-right: 10px;
}

.twitter a,
.facebook a,
.vimeo a,
.pinterest a{
    color: #dec18c;
}    
.twitter a:hover,
.facebook a:hover,
.vimeo a:hover,
.pinterest a:hover{
    color: #878787;
}
.breadcrumbs {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    padding-bottom: 30px;
}

.home,
.account {
    list-style: none;
    display: flex;
    align-items: center;
}

.home i {
    margin: 0 5px;
}
.home li  {
    text-decoration: none;
    color :#dec18c;
}
.home li a  {
    text-decoration: none;
    color :#dec18c;
}
.block-center-inner{
    text-align: center;
    max-width: 100%;
}
.form-container{
    display:flex;
}
.login .form-container {
    display: flex;
    justify-content: space-between;
}

.login .form-login {
    width: 49%; /* Điều chỉnh độ rộng của form-login */
    margin-right: 2%; /* Khoảng cách giữa form-login và form-signup */
}

.login .form-signup {
    width: 49%; /* Điều chỉnh độ rộng của form-signup */
}
.form-Login input[type="text"],
.form-Login input[type="password"],
.form-Signup input[type="email"],
.form-Signup input[type="password"] {
    width: 100%;
    padding: 10px; 
    box-sizing: border-box; 
    margin-bottom: 15px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    background-color:#EEEEEE;
    text-align: center;
}
.form-Login h2,
.form-Signup h2 {
    text-align: center;
}
.form-Login input[type="text"]:focus,
.form-Login input[type="password"]:focus,
.form-Signup input[type="email"]:focus,
.form-Signup input[type="password"]:focus {
    outline: none; 
    border: 1px solid  #dec18c;
}
.form-Signup,
.form-Login {
    border: 1px solid #EEEEEE; 
    background-color: #fff; 
    padding: 20px;
    text-align: center; 
}

.page-title-inner {
    position: relative;
}

.page-title-inner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.required{
    color : red;
}