.language-currency {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.language,
.currency {
    margin: 10px;
}

.language li,
.currency li {
    margin-right: 0;
    padding: 0;
    margin: 0;
}

.language .dropdown-menu,
.currency .dropdown-menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    list-style: none;
    padding: 10px;
    width: 30px;
    height: 120px;

}

.language .dropdown-menu li,
.currency .dropdown-menu li,
.cart .dropdown-menu li {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.language:hover .dropdown-menu,
.currency:hover .dropdown-menu {
    display: block;
}

.language li,
.currency li {
    margin-right: 10px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    font-family: "Varela Round";
    align-items: center;
    white-space: nowrap;
}


.ts-menu {
    display: flex;
    justify-content: space-between;
}

.nav-menu a {
    text-decoration: none;
    transition: color 0.2S ease;
    color: #878787;
}

.text-widget {
    color: #dec18c;
    padding-right: 15px;
}

.my-account,
.wishlist,
.blog,
.login {
    padding-right: 15px;
}

.nav-menu a:hover {
    color: #dec18c;
}

.icon-header {
    display: flex;
}

.icon-header a {
    color: #dec18c;
}

.search-table {
    align-items: center;
    display: flex;
}

.search .dropdown-menu {
    display: none;
}

.search .dropdown-menu li .search:hover .dropdown-menu .search.dropdown {
    text-align: center;
}



.search.dropdown a ul li {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.search:hover .dropdown-menu {
    display: block;
}

.logo img {
    max-height: 134px;
    padding-top: 25px;
    padding-bottom: 25px;
}


.header-bottom {
    font-family: "Varela Round";
    justify-content: space-between;
}


.bottom-menu-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}




.header-bottom a:hover {
    color: #dec18c;
}


.bottom-menu {
    display: flex;
    align-items: center;
}

.bottom-menu-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.twitter,
.facebook,
.vimeo,
.pinterest {
    margin-left: auto;
    align-items: center;
    margin-right: 10px;
}

.twitter a,
.facebook a,
.vimeo a,
.pinterest a {
    color: #dec18c;
}

.twitter a:hover,
.facebook a:hover,
.vimeo a:hover,
.pinterest a:hover {
    color: #878787;
}

.navbar-nav {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.navbar-nav .nav-item {
    white-space: nowrap;
}


#navbarNav a {
    color: #dec18c;
}

.icon-mobile i {
    color: #dec18c;
}

.row {
    display: flex;
}

.wbp_text_column {
    min-height: 187px;
    padding-top: 50px;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
    margin-top: 40px;
}

.wbp_text_column:hover {
    background-color: #dec18c;
}

.wbp_text_column p {
    color: #aaa;
}

.wbp_text_column p:hover {
    color: #fff;
}

.handmade-post {
    margin-bottom: 40px;
}


.font-main {
    font-family: "Varela Round";
}

.font-display {
    font-family: "Playfair Display" !important;
}

.font-normal th {
    font-weight: normal;
}

.entry-title{
    color: black !important;
}
.dropdown:hover > .dropdown-menu{
    display: block;
}
.color-main{
    color: #dec18c !important;
}
.dropdown-menu{
    width: 350px;
}
.f-12{
    font-size: 12px;
}
.color-second{
    color:#878787;
}
.cart-li-button {
    padding: 12px;
    min-width: 140px;
    background-color: #414141;
    border-radius: 0;
}

.cart-li-button:hover {
    background-color: #dec18c;
}