.home i {
    margin: 0 5px;
}

.home li {
    text-decoration: none;
    color: #dec18c;
    list-style: none;
}

.home li a {
    text-decoration: none;
    color: #dec18c;
    list-style: none;
}

.product li {
    list-style: none;
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
}

#thumbnail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.thumbnail {
    width: 80px;
    height: 80px;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

#main-product img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

h1.product_title.entry-title.p-font {
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 10px;
    line-height: 1.4;
    clear: none;
    margin-top: 0;
    padding: 0;
    font-family: varela round;
    font-style: normal;
    color: #333;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p.price {
    font-size: 36px;
    line-height: 1.2;
    font-style: normal;
    letter-spacing: 0;
    margin-bottom: 30px;
    color: #dec18c;
    font-weight: 400;
    display: block;
    margin: 0;
    padding: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    margin-bottom: 0;
    font-weight: 400;
    margin: 0;
    padding: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 14px;
    color: #777;
    line-height: 1.8;
    margin-bottom: 35px;

}

label {
    font-weight: 400;
    font-size: 17px;
    color: #1f1f1f;
    margin: 0;
    line-height: 42px;
    display: inline-block;
    max-width: 100%;
    cursor: default;
    border-spacing: 0;
    border-collapse: collapse;
    text-indent: initial;
    background-color: #fff;
    color: #dec18c;
    line-height: 42px;
}

a {
    color: #dec18c;
    text-decoration: none;
    line-height: 42px;
}
.container .border .align-items-start li {
list-style: none; /* Xóa chấm đầu dòng */
}

.container .border .align-items-start li a {
color: #aaa;
text-decoration: none;
}
.single_add_to_cart_button{
background-color: #dec18c;
color: #ffffff;
}
.single_add_to_cart_button:hover {
background-color: #36454F; /* Màu sắc mới khi di chuột vào */
color: #ffffff; /* Màu văn bản mới khi di chuột vào */
transition: background-color 0.3s ease, color 0.3s ease; /* Hiệu ứng chuyển đổi màu trong 0.3 giây */
}
.yith-wcwl-add-to-wishlist .add_to_wishlist {
font-size: 16px;
color: #777; /* Màu sắc mặc định */
text-decoration: none;
}

.yith-wcwl-add-to-wishlist:hover .add_to_wishlist,
.yith-wcwl-add-to-wishlist.added .add_to_wishlist {
color: #dec18c; /* Màu sắc mới khi di chuột vào hoặc đã thêm vào danh sách mong muốn */
}

.compare {
font-size: 16px;
color: #777; /* Màu sắc mặc định */
text-decoration: none;
}

.compare:hover,
.compare.added {
color: #dec18c; /* Màu sắc mới khi di chuột vào hoặc đã thêm vào danh sách so sánh */
}
/* Màu chữ và font chữ cho tab Description */
#tab-title-description a {
color: #777; /* Màu xanh da trời */
font-family: 'Arial', sans-serif; /* Font chữ Arial hoặc font chữ khác */
font-size: 16px; /* Kích thước font chữ */
text-decoration: none; /* Không gạch chân */

}

/* Màu chữ và font chữ cho tab Reviews */
#tab-title-reviews a {
color: #777; /* Màu đỏ */
font-family: 'Verdana', sans-serif; /* Font chữ Verdana hoặc font chữ khác */
font-size: 16px; /* Kích thước font chữ */
text-decoration: none; /* Không gạch chân */
}
.container.text-center.border {
padding: 35px; /* Thêm padding để tăng kích thước độ rộng của border */
}
#tab-title-description a:hover{
color: #dec18c;
}
#tab-title-reviews a:hover{
color: #dec18c;
}
.description_tab a,
.reviews_tab a,
.cochu a {
font-size: 25px; /* Hiệu ứng chuyển đổi màu trong 0.3 giây */
}