.border-color {
    border-color: #eeee;
    border-width: 3px;
    border-style: solid;
}

.banner-picture {
    max-height: 270px;
    position: relative;
}

.p-font {
    font-family: Verdana;
}

.p-size {
    font-size: 15px;
}

.discount-price {
    font-size: 13px;
    color: #999
}

.price {
    color: #dec18c
}

.thumb {
    position: relative;
    /* Các thuộc tính khác của .thumb1 nếu có */
}

.product-flash-wrap {
    position: absolute;
    top: 10px;
    right: 10px;
}

.on-new {
    background-color: #c5cda0;
}

.on-sale {
    background-color: #b1d1c9;
}

.on-hot {
    background-color: #fdb3a6;
}

.on-sold {
    background-color: #dec18c;
}

.product-flash {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    width: 43px;
    height: 43px;
    line-height: 43px;
    display: block;
    text-align: center;
    border-radius: 50%;
}

.product-flash+.product-flash {
    margin-top: 5px;
}




.banner_2 {
    position: relative;
    padding-bottom: 5px;
}

.bg-img-1 {
    height: 269px;
    background-image: url('../images/banner-31.jpg');
    background-size: cover;
    background-position: center;
    z-index: 1;
    margin-right: 15px;
    position: relative;
    margin-bottom: 10px;
}

.border-banner_2 {
    display: block;
    position: absolute;
    border: 2px solid;
    top: 13px;
    left: 13px;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.right-container {
    right: 30px;
    position: absolute;
    max-width: 320px;
    padding: 45px 35px;
    background-color: #fff;
    top: 30px;
    bottom: 30px;
    opacity: .98;
}

.ff {
    font-family: "Varela Round"
}

.fs-32 {
    font-size: 32px;
}

.margin-80 {
    margin: 80px 0px;
}

.black-box {
    position: relative;

}

.black-box img {
    width: 100%;
    height: auto;
    display: block;
}

.black-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .10;
}

.black-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #c29938; /* Màu primary-color */
    transition: all 0.3s;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: translate(0, 0); /* Giữ vị trí ban đầu */
}

.black-box:hover::after {
    transform: translate(15px, 15px); /* Di chuyển về phải 15px và xuống 15px */
}

.centered-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: inherit !important;
    /* Kích thước ban đầu của nút */
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.centered-btn:hover {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 7px;
    padding-right: 20px;
    background-color: #6c757d !important;
    transition: all 0.3s; /* Thêm hiệu ứng chuyển động */
    border-color: #6c757d !important;
}

.centered-btn:not(:hover) {
    padding-top: 0.375rem;
    padding-right: 0.75rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
    transition: all 0.3s;
}
.btn-desc{
    font-size: 15px !important;
    line-height: 1.6 !important;
    font-weight: 400 !important;
    text-align: center !important;
    font-family: "Varela Round" !important;
    font-style: normal !important;
}
.bottom-right-container {
    right: 30px;
    position: absolute;
    max-width: 320px;
    bottom: 30px;
    opacity: .98;
    max-width: 380px;
    max-height: 245px;
    width: auto;
    margin: auto;
    text-align: center;
    padding: 60px 45px;
    background-color: #fff;
}

.sc-product-categories-home-wrap.style-01 {
    width: 290px;
    position: absolute;
    z-index: 4;
    top: 180px;
    left: 95px;
    -webkit-transform: translate(50px, 60px);
    -moz-transform: translate(50px, 60px);
    -ms-transform: translate(50px, 60px);
    -o-transform: translate(50px, 60px);
    transform: translate(50px, 60px);
    background-color: #dec18c;
}

.product-categories-home a {
    text-decoration: none;
    color: #fff;
}

.product-categories-home li {
    list-style: none;
    transition: transform 0.4s ease;
    margin-bottom: 25px;
}

.product-categories-home li:hover {
    transform: translateX(20px);
}

.product-categories-home {
    margin-top: 20px;
}

.product-categories-home i {
    font-size: 6px;
    color: #c29938;
}

.handmade-banner.style1.content-center .content-middle-inner {
    text-align: center;
}

.content-middle-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.handmade-banner {
    position: relative;
}

.bg-img {
    height: 270px;
    position: relative;
    z-index: 1;
}

.overlay-banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

content-middle-inner {
    text-align: center;
}

.desc {
    margin-top: 50px;
}
.new-arrival-1{
    margin-top:40px;
}